<p class="dark-text text-primary">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-user fa-stack-1x"></i>
  </span>
</p>

<div class="card dark-card text-primary">
  <img class="card-img-top" src="/assets/Yo-graffiti-bg-small.png" alt="Mi foto">

  <div class="card-body">
    <h4 class="card-title text-center">Nicolás Laurenzano</h4>

    <p class="card-text text-mono">Laboratorio de Programación IV<br />
    Curso 4B<br />
    Explicación del juego propio: Pendiente</p>

    <div class="text-center">
      <a href="https://github.com/nlaurenzano/laurenzano-lab4-TP-sala-de-juegos" target="_blank" class="btn btn-dark w-100 text-primary">Repositorio GIT</a>
    </div>
  </div>
</div>
