<!-- <i class="fa-regular fa-user"></i> -->

<div class="dark">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x"></i>
    </span>
  </p>

  <br/>
  <ul>
    <li>
      <h2>Datos personales del alumno:</h2>
      <p>Nombre: Nicolás Laurenzano</p>
      <p>DNI: 27658889</p>
    </li>
      
    <li>
      <h2>Imagen del alumno:</h2>
      <img width="300px" src="/assets/quien-soy.png">
    </li>
    <li>Explicación del juego propio: Pendiente.</li>
  </ul>
</div>