<div class="container jumbotron">
  <div class="row mb-3">

    <div class="col-sm text-center">
			<div class="card py-3">
				<img src="assets/juego-menu-ahorcado.png" class="menu-item">
		  </div>

	  	<button class="menu-boton btn btn-primary btn-shadow text-mono my-2 py-3" routerLink="/juego-ahorcado">
				Ahorcado
			</button>
    </div>

    <div class="col-sm text-center">
    	<div class="card py-3">
				<img src="assets/juego-menu-mayormenor.png" class="menu-item">
	    </div>

	    <button class="menu-boton btn btn-primary btn-shadow text-mono my-2 py-3" routerLink="/juego-mayormenor">
				Mayor o Menor
			</button>
		</div>
  </div>

  <div class="row">

    <div class="col-sm text-center">
			<div class="card py-3">
					<img src="assets/juego-menu-preguntados.png" class="menu-item">
	   	</div>

			<button class="menu-boton btn btn-primary btn-shadow text-mono my-2 py-3" routerLink="/juego-preguntados">
				Preguntados
			</button>
    </div>

    <div class="col-sm text-center">
			<div class="card py-3">
				<img src="assets/juego-menu-simon.png" class="menu-item">
	   	</div>

			<button class="menu-boton btn btn-primary btn-shadow text-mono my-2 py-3" routerLink="/juego-simon">
				Simón Dice
			</button>
    </div>
  </div>

</div>
