<div class="container jumbotron">
  <div class="row mb-3">
    <div class="col-sm">
		<div class="card">
			<img src="assets/logo-graffiti-monkey.png" class="menu-item">

    		<!-- <h4 class="display-3 text-center text-mono text-white">Ahorcado</h4> -->
	    </div>


    		<button class="btn btn-primary btn-shadow text-mono" routerLink="/juego-ahorcado">
				Ahorcado
			</button>



    </div>

    <div class="col-sm">
    	<div class="card">
			<div class="card-header bg-success">
				<img src="assets/logo-graffiti-monkey.png" class="menu-item">
	    	</div>

			<div class="card-footer bg-success">
	    		<h4 class="display-3 text-center text-mono text-white">Juego 2</h4>
	    	</div>
	    </div>
	</div>

  </div>


  <div class="row">
    <div class="col-sm">
		<div class="card">
			<div class="card-header bg-secondary">
				<img src="assets/logo-graffiti-monkey.png" class="menu-item">
	    	</div>

			<div class="card-footer bg-secondary">
	    		<h4 class="display-3 text-center text-mono text-white">Juego 3</h4>
	    	</div>
	    </div>
    </div>

    <div class="col-sm">
		<div class="card">
			<div class="card-header bg-primary">
				<img src="assets/logo-graffiti-monkey.png" class="menu-item">
	    	</div>

			<div class="card-footer bg-primary">
	    		<h4 class="display-3 text-center text-mono text-white">Juego 4</h4>
	    	</div>
	    </div>
    </div>

  </div>

</div>
