
<div [className]="isActive ? 'hide' : 'show'">
  <div class="chat-card mb-2 mr-4">
    <p class="dark-text text-primary" (click)="toggleActive()">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-comment fa-stack-1x"></i>
        <!-- <i class="fa fa-comment-dots fa-stack-1x"></i> -->
      </span>
    </p>
  </div>
</div>
  
<div [className]="isActive ? 'show' : 'hide'">
  <div class="card chat-card mb-2">

    <div class="card-header" (click)="toggleActive()">
      <h4 class="card-title"><strong>Chat</strong></h4>
      <button type="button" class="close text-white" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <!-- <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a> -->
    </div>

    <div #chatcontent class="ps-container ps-theme-default ps-active-y" id="chatcontent" style="overflow-y: scroll !important; height:400px !important;">

      <ngContainer *ngFor="let mensaje of chatService.getMensajes; last as isLast; let i = index">

        <div [className]="(mensaje.usuario == authenticationService.getUsuarioActual) ? 'media media-chat media-chat-reverse' : 'media media-chat'">
          <div class="media-body">

            <p [className]="(mensaje.usuario == authenticationService.getUsuarioActual) ? 'bg-success text-white' : 'bg-light text-dark'">
              {{mensaje.mensaje}}
            </p>

            <ngContainer *ngIf="isLast || (!isLast && chatService.getMensajes[i].usuario != chatService.getMensajes[i+1].usuario)">
              <p class="meta"><time datetime="2018">{{mensaje.fecha}}</time> - {{mensaje.usuario}}</p>
            </ngContainer>

          </div>
        </div>
      </ngContainer>

      <!-- <div class="media media-meta-day">Today</div> -->


      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
      </div>

    </div>

    <div class="card-footer">
      <!-- <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> -->

      <div class="input-group mb-3">
        <input type="text" name="mensaje" #mensaje class="form-control" [(ngModel)]="textoMensaje" aria-label="Mensaje" (keydown.enter)="enviarMensaje()">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="enviarMensaje()">Enviar</button>
        </div>
      </div>

    </div>

  </div>
</div>
