<nav class="header">
  <a routerLink="/home" class="logo"><img src="/assets/logo-graffiti-monkey.png"></a>

  <div class="header-right">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/whoami">Quién soy</a>

    <div *ngIf="authenticationService.isLoggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <a routerLink="/menu-juegos">Juegos</a>
      <a routerLink="/juego-ahorcado">Ahorcado</a>
      <a routerLink="" (click)="authenticationService.signOut()">Salir</a>
    </ng-template>
    <ng-template #elseBlock>
      <a routerLink="/login">Ingresar</a>
    </ng-template>

    <div *ngIf="authenticationService.isLoggedIn">
      <div class="text-info text-mono my-2 user-info">{{authenticationService.getUsuarioActual}}</div>
    </div>

  </div>
</nav>