<p class="dark-text text-primary">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-lock fa-stack-1x"></i>
  </span>
</p>

<div class="card dark-form p-1 mx-auto">
  <div class="card-body">
    <form>
      <div class="form-group">
        <input name="nombre" #nombre type="text" class="form-control mb-3" autofocus="true" required="true" placeholder="Nombre" />

        <input name="email" #email type="email" class="form-control mb-3" autofocus="true" required="true" placeholder="Email" />
        <!-- aria-describedby="emailHelp" -->
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email</small> -->

        <input name="clave" #clave type="password" class="form-control mb-3" required="true" placeholder="Clave" />
      </div>

      <div class="mx-auto text-center">
        <input type="button" name="Registrarse" value="Registrarse" class="btn btn-outline-primary m-1" (click)="authenticationService.signUp(email.value, nombre.value, clave.value)" />

        <div class="lead mt-3 mb-1 text-mono text-info">¿Ya te has registrado?</div>
        <input type="button" routerLink="/login" value="Ingresar" class="btn btn-outline-primary" />
      </div>

    </form>
  </div>
</div>
