<div class="container jumbotron ahorcado">
  <a routerLink="/menu-juegos" data-toggle="tooltip" data-placement="left" data-original-title="Cerrar" >
    <img class="float-right" src="assets/logo-x.png" style="width:50px;">
  </a>

  <div class="row">
    <div class="col-sm">
      <app-hangman></app-hangman>
    </div>
    <div class="col-sm pb-4 text-center align-self-center">
      <app-wins></app-wins>
      <app-control></app-control>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm">
      <app-status></app-status>
      <app-keyboard></app-keyboard>
    </div>
  </div>
</div>
