@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.dark-card {
  min-height: 10rem;
  margin: auto;
  max-width: 350px;
  padding: .5rem;
}

.ahorcado {
  min-width: 690px;
}

.dark-text {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
}
