<!-- 
<div class="dark">
  <h2>Sala de Juegos</h2>
    <div *ngIf="authenticationService.isLoggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>

    </ng-template>
    <ng-template #elseBlock>

    </ng-template>
 -->



<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2 text-primary">Sala de Juego<span class="vim-caret">s</span></h1>
          <div class="lead mb-3 text-mono text-success">Un experimento de Laboratorio IV</div>
        </div>
      </div>
<!-- 
      <div class="row">

          <div id="controlesCarousel" class="carousel slide w-100 mt-2" data-ride="carousel">
            <div class="carousel-inner d-flex justify-content-center" role="listbox">
              <div class="carousel-item">
                <h2 class="text-grey text-spacey">
                  Juego 1
                </h2>
                 -->
                <!-- <img class="d-block img-fluid" src="/assets/logo-flecha.png" alt="Juego 1"> -->

                <!-- 
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/assets/logo-flecha.png" alt="Juego 2">
              </div>
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="/assets/logo-flecha.png" alt="Juego 3">
              </div>
            </div>
            <a class="carousel-control-prev" href="#controlesCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#controlesCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>

    </div>
 -->


  </div>
</div>

<!-- </div> -->


