<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2 text-primary">Sala de Juego<span class="vim-caret">s</span></h1>
          <div class="lead mb-3 text-mono text-success">Un experimento de Laboratorio IV</div>
        </div>
      </div>

      <div class="row">
        <div id="carouselExampleControls" class="carousel slide w-50 mx-auto" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/juego-menu-ahorcado.png" alt="Ahorcado">
            </div>
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="assets/juego-menu-mayormenor.png" alt="Mayo o Menor">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/juego-menu-preguntados.png" alt="Preguntados">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/juego-menu-simon.png" alt="Simón Dice">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
      </div>

  </div>
</div>
