<p class="dark-text text-light">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-lock fa-stack-1x"></i>
  </span>
</p>

<div class="card dark-form p-1 mx-auto">
  <div class="card-body">
    <form>
      <div class="form-group">
        <input name="nombre" #nombre type="email" [value]="fillEmail" class="form-control mb-3" autofocus="true" required="true" placeholder="Email" />
        <!-- aria-describedby="emailHelp" -->
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email</small> -->

        <input name="clave" #clave type="password" [value]="fillClave" class="form-control mb-3" required="true" placeholder="Clave" />
      </div>

      <div class="mx-auto text-center">
        <input type="button" name="Login" value="Ingresar" class="btn btn-outline-primary m-1" (click)="authenticationService.signIn(nombre.value, clave.value)" />
        <input type="button" name="fill" value="Completar Campos" class="btn btn-outline-primary m-1" (click)="completarCampos()" />

        <div class="lead mt-3 mb-1 text-mono text-info">¿Primera vez por aquí?</div>
        <input type="button" routerLink="/registro" value="Registrarse" class="btn btn-outline-primary" />
      </div>

    </form>
  </div>
</div>
