<div class="container jumbotron">
  <div class="row">
    <div class="col-sm jumbotron mesa-cartas bg-success">
    	<img src="{{imagen}}">
    	<!-- <img class="mx-auto" src="{{imagen}}"> -->
    </div>


    <div class="col-sm pb-4 text-center align-self-center">
      <div>
        <h5 class="lead mb-3 text-mono text-info text-center">Aciertos: {{aciertos}}</h5>
        <h5 class="lead mb-3 text-mono text-info text-center">Restantes: {{preguntasRestantes}}</h5>
        <div>
          <button class="btn btn-primary btn-shadow text-mono mt-2 w-50"
            (click)="juegoNuevo()">Nuevo Juego</button>
        </div>
        <div>
          <button class="btn btn-primary btn-shadow text-mono mt-2 w-50"
            routerLink="/menu-juegos">Salir</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm text-center">
      <div>
        <h4 class="lead mb-3 text-mono text-warning">{{mensaje}}</h4>
      </div>

      <button *ngFor="let opcion of opciones; let i = index;" [className]="mostrarClaseBoton(i)"
        (click)="elegirOpcion(i)">{{opcion}}</button>

    </div>
  </div>
</div>

<!-- <p [hidden]="!loader">Cargando...</p> -->
